<!-- PS.: I know that using style isn't that great but it's faster -->

<section class="container">
	<h1>Meetings #{{numberOf}}</h1>
	<button type="button" class="btn btn-default btn-sm pull-right" ng-click="generate()">Generate 5000</button>
	
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-sm-6">
			<h2 style="border-bottom: 1px solid #E1E1E1;">Upcoming</h2>
			<div class="row">
				<div class="col-sm-4" ng-repeat-start="u in upcoming">
					<div><b>{{u.topic}}</b> <small>{{u.datetime | date: "yyyy-MM-dd HH:mm"}}</small></div>
					<div class="well well-sm" style="margin: 10px;">
						<div ng-repeat="p in u.people" style="font-style: italic; font-size: 10px;">{{p.email}};</div>
					</div>
				</div>
				<div class="clearfix" ng-repeat-end ng-if="($index + 1) % 3 == 0"></div>
			</div>
		</div>
		<div class="col-sm-6">
			<h2 style="border-bottom: 1px solid #E1E1E1;">Upcoming By Person</h2>
			
			<table class="table table-striped">
				<thead>
					<th>Person</th>
					<th>Next Meeting</th>
				</thead>
				<tbody>
					<tr ng-repeat="p in nextByPeople">
						<td>{{p._id.email}}</td>
						<td><b>{{p.nextMeeting.topic}}</b> <small>{{p.nextMeeting.datetime | date: "yyyy-MM-dd HH:mm"}}</small></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div style="padding-top: 20px">
		<label>Average people in the next 20 meetings:</label>
		<span style="margin-left: 5px">{{avg20 || 0 | number: 2}}</span>
	</div>
</section>

<script type="text/ng-template" id="generate.html">
	<form novalidate id="form" name="form">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Generate Meetings</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="form-group col-sm-4">
					<label class="control-label" for="form-topic">Topic:</label>
				</div>
				<div class="col-sm-8">
					<div class="form-group" ng-class="{'has-success has-feedback': submitted && !form.topic.$invalid, 'has-error has-feedback' : submitted && form.topic.$invalid}">
						<input id="form-topic" class="form-control input-sm" type="text" name="topic" placeholder="Same topic..." ng-model="f.topic" required />
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="submitted && form.topic.$invalid"></span>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="submitted && !form.topic.$invalid"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-4">
					<label class="control-label" for="form-email0">Add people:</label>
				</div>
				<div class="col-sm-8">
					<div class="row" ng-repeat="p in f.people">
						<div class="col-sm-10">
							<div class="form-group" ng-class="{'has-success has-feedback': submitted && !form['email' + $index].$invalid, 'has-error has-feedback' : submitted && form['email' + $index].$invalid}">
								<input id="form-email{{$index}}" class="form-control input-sm" type="email" name="email{{$index}}" placeholder="example@email.com" ng-model="p.email" required />
								<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="submitted && form['email' + $index].$invalid"></span>
								<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="submitted && !form['email' + $index].$invalid"></span>
							</div>
						</div>
						<div class="col-sm-2">
							<i class="fa fa-plus fa-lg" style="cursor: pointer;" ng-click="addPeople(f)" ng-if="$index == f.people.length - 1"></i>
							<i class="fa fa-trash-o fa-lg" style="cursor: pointer;" ng-click="f.people.splice($index, 1);" ng-if="$index != f.people.length - 1"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="alert alert-danger" style="margin-top: 20px;" role="alert" ng-show="submitted && (form.topic.$invalid || loopError(form, f.people))">
				<div ng-if="form.topic.$invalid">
					<span class="glyphicon glyphicon-exclamation-sign"></span>
					<span class="sr-only">Error:</span>
					<span>Insert a topic...</span>
				</div>
				<div ng-if="form['email' + $index].$invalid" ng-repeat="p in f.people">
					<span class="glyphicon glyphicon-exclamation-sign"></span>
					<span class="sr-only">Error:</span>
					<span ng-show="form['email' + $index].$error.required">Insert an email.</span>
					<span ng-show="form['email' + $index].$error.email">That's not a valid email.</span>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="submit(form, f)" ng-disabled="submitting">Generate</button>
			<button type="button" class="btn btn-primary" ng-click="close('cancel')">Cancel</button>
		</div>
	</form>
</script>